body{

    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
   
     
}

.container button {
padding: 10px;
margin: 10px 6px;
}


span {

    font-size: 30px;
    margin-right: 5px;
    align-items: center;

}

.stats-container {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.correctLetter{
    background-color: lightgreen;
}

.baseCharMatch{
    background-color: yellow;
}

.spaceChar{
    border: solid 0px #888;
}

li {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border: solid 1px #888;
    font-size: 2.5em
}
li a {
    display: block;
    margin-top: 3px;
}

