body {
  font: 1em sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
 
}

.container button {
  padding: 10px;
  margin: 10px 6px;
}

.stats-container {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.correctLetter {
  background-color: lightgreen;
}

.baseCharMatch {
  background-color: yellow;
}

.input-list li {
  display: inline-block;
  width: 90px;
  height: 50px;
  text-align: center;
  border: solid 1px #888;
  font-size: 2.5em;
}
.input-list li a {
  display: block;
  margin-top: 3px;
}

.input-list li.spaceChar {
  border: solid 0px #888;
}

/*  phrases.php  */
.add_phrase_button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 130px;
  border-radius: 5px;
  background-color:aliceblue;
  font-size: medium;
  cursor: pointer;
}
.add_phrase_button:hover{
background-color: lightgreen;
}

.addEntryForm, .editEntryForm{
  display: none;
  width: 300px;
  height: 450px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: fixed;
  background-color: white;
  border: solid 2px lightslategray; 
  text-align: center;
  z-index: 100;
  border-radius: 10px;
}

.formTitle{
  text-align: center;
  margin-bottom: 20px;
}

.name_input, .topic_input, .phrase_input, .date_input, .time_input{
  margin: 20px;
}

.add_name_input, .add_topic_input, .add_phrase_input, .add_date_input{
height: 30px;
border: solid 1px black; 
font-size: 15px;
}

.required{
  display: inline;
  color: red;
  font-size: 20px;
}

.add_entry_button, .edit_entry_button{
  width: 150px;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: lightgreen;
  font-size: 20px;
}

.dim{
  display: none;
  z-index: 99;
  background: #000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.closeFormButton{
  display: inline-block;
  font-size: 40px;
  font-weight: 600;
  margin-left: 82%;
  background: none;
  border: none;
  transform: rotate(45deg);
  cursor: pointer;
}
.delete_icon, .edit_icon {
  width:50%;
  height: 50%;
}

.delete_entry, .edit_entry {
  border: none;
  background-color: white;
  cursor: pointer;
}

.notification_message {
  text-align: center;
  color: red;
  font-weight: 900;
}
/* end of phrases.php */

.stats {
  display: flex;
}

.stats div {
  margin-left: auto;
  border: none;
  padding: 12px;
}

.stats button {
  border: none;
  padding: 0;
  background: none;
}

.stats button:hover {
  cursor: pointer;
}



.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  width: 700px;
  height: 300px;
  padding: 10px;
  background-color: #FFF;
  display: none;
  box-shadow: 20px 20px 20px #000;
}

.player-stats {
  padding: 10px;
  height: 100%;
  width: 100%;
}


.player-stats ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

.player-stats li {
  text-align: center;
  white-space: nowrap;
}

.player-stats h3 {
  font-size: 30px;
  font-weight: 300;
}

.player-stats h4 {
  font-size: 15px;
  font-weight: 300;
}

.label {
  text-align: center;
  font-weight: 400;
}

.close-modal {
  width: 100%;
  display: flex;
  justify-content: flex-end
}

.close-modal span:hover {
  cursor: pointer;
  
}