body {
  font: 1em sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  margin-left: 374px;
  display: flex;
  
 
}

nav ul.nav-list {
  display: flex;
  gap: 40px;
  list-style: none;
  align-items: center;
  padding: 0;
 
}

.nav-list li {
  text-align: center;
}

nav img {
  max-height: 50px;
  max-width: 210px;
  clear: both;
}

.logo {
  margin-right: 1em;
}
 
nav a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}


.btn {
  display: block;
  width: 125px;
  height: 25px;
  background: #9c8c2e;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
  text-decoration: none;
}

.play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

 
 