*{
  margin: 0;
  padding: 0;
} 
body {
  font: 1em sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 
 
nav ul.nav-list {
  display: flex;
  gap: 40px;
  list-style: none;
  align-items: center;
  padding: 30px;
  background-color:  #58A4B0;
  justify-content: flex-end;

 
}

.nav-list li {
  text-align: center;
  
}
#user {
  margin-right: 140px;
}

.nav-list li:hover {
  cursor: pointer;
}

.dropdown{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  height: 180px;
  width: 200px;
  padding: 10px;
  z-index: 1;
}

.dropdown li:hover {
  background-color: #9B7E46;
  
}
.dropdown li {
  padding: 10px;
  list-style-type: none;
}


.dropdown a {
  color: #000;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
}
 

.nav-list li:hover .dropdown{
  
  display: block;
}

a{
  text-decoration: none;
}

#title {
  margin: auto;
}

nav img {
  max-height: 50px;
  max-width: 210px;
  clear: both;
  
}

nav ul.nav-list > li:first-child {
 
  margin-right: auto;
}
 
 
 
nav a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}


.btn {
  display: block;
  width: 125px;
  height: 25px;
  background: #9c8c2e;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
  text-decoration: none;
  margin-top: 40px;
}

.play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

 
 